

body {
  background-color:#E21BA5 ;
  font-family: Roboto, sans-serif;
  font-size: medium;
   color: white;
   line-height: normal;
}

.container {
  width: 500px;   /* Définit la largeur */
  margin: 0 auto; /* Définit automatiquement les marges à gauche/droite*/
 }


 h1
 {
   font-size: 40px;
   text-shadow: -1px -1px rgb(10, 6, 129), 1px 1px rgb(2, 10, 90), -3px 0 4px #000;
   font-family: Anton, Helvetica, sans-serif;
   color: rgb(0, 69, 153);
   padding:16px;
   font-weight:medium;
   text-align:center;
   display:block;
   margin:16px;
   letter-spacing: 0.1em;
 }


h2 {
  font-family: Roboto, serif;
color: #507DA9;
font-size: 24px;
font-weight: 800;
line-height: 2em;;
}

a {
text-decoration: none;
color:#ED4925;
}

a:hover{
  color: #DC6B3F;
}


#img-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.text-center {
  text-align: center;
}

.card {
  background: #12BF90;
  padding: 30px;
  border: 1px solid lightgrey;
  margin: 20px;
  box-shadow: 1px 1px 10px white;
  border-radius: 8px;
}

i {
  color: #ED4925;
  font-size: 2em;
}

#list_icon {
  list-style: none;
  padding: 0;
}

#list_icon li {
  display: inline-block;
  padding: 0px 20px;

}

.button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 600px;
    margin: 0 auto;
  }
}


@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 400px;
    margin: 0 auto;
  }

}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
    margin: 0 auto;
  }
  i {
    color: #ED4925;
    font-size: 1.5em;
  }

  #list_icon {
    list-style: none;
    padding: 0;
  }

  #list_icon li {
    display: inline-block;
    padding: 0px 10px;

  }
}
